.lexend-<uniquifier> {

  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--bs-success-bg-subtle),);
  place-items: center;
  padding: 32px 72px;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Lexend", serif;
}


#startcontainer {
  background-image: url('https://a61.com.sg/assets/img/site_images/RRNP-Quarry-View.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat
}

#question {
  display: flex;
  flex-direction: row;
  font-size: 1 em;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: bold
}

.show {
  display: block;
}

.hide {
  display: none;
}

.greyoutoptions {
  color: gainsboro;
  border-style: hidden;
}

.options {
  width: 400px;
  padding: 10px 10px;
  border-radius: 20px;
  border-style:inset;
  background-color: white;
  margin: 10px;
  justify-content: flex-start ;
  display: flex;
  /* flex-direction: row; */
  font-size: 1em;
  /* gap :10px; */
  /* flex-wrap: wrap; */
}

.category {
  width: 200px;
  padding: 20px 10px;
  border-radius: 20px;
  border-style:groove;
  color: white;
  background-color: yellowgreen;

  margin: 10px;
  display: row;
  flex-direction: column;
  font-size: 1em;
  gap :10px;
  flex-wrap: wrap;
}
#startbutton {
  border-radius: 50px;
  height: 75px;
  margin: 20px
  /* padding: 20px ; */
}

#restart {
  border-radius: 50px;
  height: 50px;
  margin: 20px;

}

.bottombutton {
  border-radius: 10px;
  background-color:yellowgreen;
  margin: 20px;
  align-content: center;
  text-align: center ;
  border-style:groove;
  width: 200px;
  height: 30px;
}


.bold {
  font-size: 1 em;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: bold;
  padding: 5px
}


#questionpage{
  background-color: rgba(255,255,255,0.7);
  width:500px;
  padding: 20px 20px;
  border-radius: 30px;
  border-color: aqua;
  font: 200px;
}
/* 
div {
  display: none;
} */
body{
  background-image: url("https://a61.com.sg/assets/img/site_images/RRNP-Quarry-View.jpg");
  background-blend-mode:hard-light;
;
}