

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--bs-success-bg-subtle),);
  place-items: center;
  padding: 32px 72px;
  min-width: 320px;
  min-height: 100vh;
}


#startcontainer {
  background-image: url('https://a61.com.sg/assets/img/site_images/RRNP-Quarry-View.jpg');
}

#question {
  display: flex;
  flex-direction: row;
  font-size: 1 em;
  flex-wrap: wrap;
  justify-content: flex-start
}

.show {
  display: block;
}
.hide {
  display: none;
}

.options {
  width: 400px;
  padding: 10px 10px;
  border-radius: 20px;
  border-style:inset;
  background-color: white;
  border-color: yellowgreen;
  margin: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  font-size: 1em;
  /* gap :10px; */
  /* flex-wrap: wrap; */
}

.category {
  width: 200px;
  padding: 20px 10px;
  border-radius: 20px;
  border-style:groove;
  background-color: yellowgreen;

  margin: 10px;
  display: row;
  flex-direction: column;
  font-size: 1em;
  gap :10px;
  flex-wrap: wrap;
}
#startbutton {
  border-radius: 50px;
  height: 75px;
  margin: 20px
  /* padding: 20px ; */
}

#restart {
  border-radius: 50px;
  height: 30px;
  font-size: small;
  margin: 20px;
  align-items: ;
}
/* 
div {
  display: none;
} */
body{
  background-image: url("https://a61.com.sg/assets/img/site_images/RRNP-Quarry-View.jpg");
  background-blend-mode:hard-light;
;
}